:root {
   /* --- color --- */
   --red-50: 254, 242, 242;
   --red-100: 255, 226, 226;
   --red-500: 251, 44, 54;
   --red-600: 231, 0, 11;
   --red-800: 159, 7, 18;
   --orange-50: 255, 247, 237;
   --orange-100: 255, 237, 212;
   --orange-200: 255, 214, 167;
   --orange-300: 255, 184, 105;
   --orange-500: 255, 105, 0;
   --orange-600: 245, 73, 0;
   --amber-50: 255, 251, 235;
   --amber-400: 255, 185, 0;
   --amber-600: 225, 113, 0;
   --yellow-50: 254, 252, 232;
   --yellow-100: 254, 249, 194;
   --yellow-400: 253, 199, 0;
   --yellow-600: 208, 135, 0;
   --green-100: 220, 252, 231;
   --green-600: 0, 166, 62;
   --green-700: 0, 130, 53;
   --blue-100: 219, 234, 254;
   --blue-500: 43, 127, 255;
   --blue-600: 21, 93, 251;
   --blue-700: 20, 71, 230;
   --pink-100: 252, 231, 243;
   --pink-600: 230, 0, 118;
   --gray-50: 249, 250, 251;
   --gray-200: 229, 231, 235;
   --gray-500: 106, 114, 130;
   --gray-600: 74, 85, 101;
   --gray-700: 54, 65, 83;
   --gray-900: 16, 24, 40;

   /* font-size && line-height */
   --font-size-12: 0.75rem;
   --font-size-12--line-height: calc(1 / 0.75);
   --font-size-14: 0.875rem;
   --font-size-14--line-height: calc(1.25 / 0.875);
   --font-size-16: 1rem;
   --font-size-16--line-height: 1.5;
   --font-size-18: 1.125rem;
   --font-size-18--line-height: calc(1.75 / 1.125);
   --font-size-20: 1.25rem;
   --font-size-20--line-height: calc(1.75 / 1.25);
   --font-size-24: 1.5rem;
   --font-size-24--line-height: calc(2 / 1.5);
   --font-size-36: 2.25rem;
   --font-size-36--line-height: calc(2.5 / 2);

   /* font-weight */
   --font-weight-500: 500;
   --font-weight-600: 600;
   --font-weight-700: 700;

   /* shadow */
   --shadow-sm: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
   --shadow-lg: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
   --shadow-xl: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

/* padding */
.p-12 {
   padding: 0.75rem;
}
.p-20 {
   padding: 1.25rem;
}
.px-12 {
   padding-inline: 0.75rem;
}

@media (min-width: 768px) {
   .p-md-24 {
      padding: 1.5rem;
   }
}

/* margin */
.mb-12 {
   margin-bottom: 0.75rem;
}
.me-12 {
   margin-right: 0.75rem;
}
.mt-32 {
   margin-top: 2rem;
}

/* width */
.w-24 {
   width: 1.5rem;
}
.w-32 {
   width: 2rem;
}
.w-40 {
   width: 2.5rem;
}
.w-48 {
   width: 3rem;
}
.max-width-80 {
   max-width: 80rem;
}
@media (min-width: 768px) {
   .w-md-40 {
      width: 2.5rem;
   }
}

/* height */
.h-24 {
   height: 1.5rem;
}
.h-32 {
   height: 2rem;
}
.h-40 {
   height: 2.5rem;
}
.h-48 {
   height: 3rem;
}
.h-400 {
   height: 25rem;
}
@media (min-width: 768px) {
   .h-md-40 {
      height: 2.5rem;
   }
}

/* position */
.top-24 {
   top: 1.5rem !important;
}
.bottom-24 {
   bottom: 1.5rem !important;
}
.start-24 {
   left: 1.5rem !important;
}
.end-24 {
   right: 1.5rem !important;
}

/* border-color */
.border-orange-100 {
   --bs-border-opacity: 1;
   border-color: rgba(var(--orange-100), var(--bs-border-opacity)) !important;
}
.border-orange-300 {
   --bs-border-opacity: 1;
   border-color: rgba(var(--orange-300), var(--bs-border-opacity)) !important;
}
.border-red-500 {
   --bs-border-opacity: 1;
   border-color: rgba(var(--red-500), var(--bs-border-opacity)) !important;
}
.border-amber-400 {
   --bs-border-opacity: 1;
   border-color: rgba(var(--amber-400), var(--bs-border-opacity)) !important;
}
.border-gray-200 {
   --bs-border-opacity: 1;
   border-color: rgba(var(--gray-200), var(--bs-border-opacity)) !important;
}

/* linear-gradient */
.linear-gradient-br-orange-50-yellow-50 {
   --bs-bg-opacity: 1;
   background-image: linear-gradient(to bottom right, rgba(var(--orange-50), var(--bs-bg-opacity)), rgba(var(--yellow-50), var(--bs-bg-opacity)));
}
.linear-gradient-br-orange-500-red-500 {
   --bs-bg-opacity: 1;
   background-image: linear-gradient(to bottom right, rgba(var(--orange-500), var(--bs-bg-opacity)), rgba(var(--red-500), var(--bs-bg-opacity)));
}
.linear-gradient-br-orange-50-amber-50 {
   --bs-bg-opacity: 1;
   background-image: linear-gradient(to bottom right, rgba(var(--orange-50), var(--bs-bg-opacity)), rgba(var(--amber-50), var(--bs-bg-opacity)));
}

/* shadow */
.shadow-sm {
   box-shadow: var(--shadow-sm) !important;
}
.shadow-lg {
   box-shadow: var(--shadow-lg) !important;
}
.shadow-xl {
   box-shadow: var(--shadow-xl) !important;
}

/* font-size && line-height */
.fs-12 {
   font-size: var(--font-size-12);
   line-height: var(--font-size-12--line-height);
}
.fs-14 {
   font-size: var(--font-size-14);
   line-height: var(--font-size-14--line-height);
}
.fs-16 {
   font-size: var(--font-size-16);
   line-height: var(--font-size-16--line-height);
}
.fs-18 {
   font-size: var(--font-size-18);
   line-height: var(--font-size-18--line-height);
}
.fs-20 {
   font-size: var(--font-size-20);
   line-height: var(--font-size-20--line-height);
}
.fs-24 {
   font-size: var(--font-size-24);
   line-height: var(--font-size-24--line-height);
}
.fs-36 {
   font-size: var(--font-size-36);
   line-height: var(--font-size-36--line-height);
}
@media (min-width: 768px) {
   .fs-md-12 {
      font-size: var(--font-size-12);
      line-height: var(--font-size-12--line-height);
   }
   .fs-md-14 {
      font-size: var(--font-size-14);
      line-height: var(--font-size-14--line-height);
   }
   .fs-md-16 {
      font-size: var(--font-size-16);
      line-height: var(--font-size-16--line-height);
   }
   .fs-md-18 {
      font-size: var(--font-size-18);
      line-height: var(--font-size-18--line-height);
   }
   .fs-md-20 {
      font-size: var(--font-size-20);
      line-height: var(--font-size-20--line-height);
   }
   .fs-md-24 {
      font-size: var(--font-size-24);
      line-height: var(--font-size-24--line-height);
   }
   .fs-md-36 {
      font-size: var(--font-size-36);
      line-height: var(--font-size-36--line-height);
   }
}

/* font-weight */
.fw-5 {
   font-weight: var(--font-weight-500);
}
.fw-6 {
   font-weight: var(--font-weight-600);
}
.fw-7 {
   font-weight: var(--font-weight-700);
}

/* color */
.text-red-50 {
   --bs-text-opacity: 1;
   color: rgba(var(--red-50), var(--bs-text-opacity));
}
.text-red-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--red-100), var(--bs-text-opacity));
}
.text-red-500 {
   --bs-text-opacity: 1;
   color: rgba(var(--red-500), var(--bs-text-opacity));
}
.text-red-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--red-600), var(--bs-text-opacity));
}
.text-red-800 {
   --bs-text-opacity: 1;
   color: rgba(var(--red-800), var(--bs-text-opacity));
}
.text-orange-50 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-50), var(--bs-text-opacity));
}
.text-orange-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-100), var(--bs-text-opacity));
}
.text-orange-200 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-200), var(--bs-text-opacity));
}
.text-orange-300 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-300), var(--bs-text-opacity));
}
.text-orange-500 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-500), var(--bs-text-opacity));
}
.text-orange-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--orange-600), var(--bs-text-opacity));
}
.text-amber-50 {
   --bs-text-opacity: 1;
   color: rgba(var(--amber-50), var(--bs-text-opacity));
}
.text-amber-400 {
   --bs-text-opacity: 1;
   color: rgba(var(--amber-400), var(--bs-text-opacity));
}
.text-amber-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--amber-600), var(--bs-text-opacity));
}
.text-yellow-50 {
   --bs-text-opacity: 1;
   color: rgba(var(--yellow-50), var(--bs-text-opacity));
}
.text-yellow-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--yellow-100), var(--bs-text-opacity));
}
.text-yellow-400 {
   --bs-text-opacity: 1;
   color: rgba(var(--yellow-400), var(--bs-text-opacity));
}
.text-yellow-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--yellow-600), var(--bs-text-opacity));
}
.text-green-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--green-100), var(--bs-text-opacity));
}
.text-green-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--green-600), var(--bs-text-opacity));
}
.text-green-700 {
   --bs-text-opacity: 1;
   color: rgba(var(--green-700), var(--bs-text-opacity));
}
.text-blue-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--blue-100), var(--bs-text-opacity));
}
.text-blue-500 {
   --bs-text-opacity: 1;
   color: rgba(var(--blue-500), var(--bs-text-opacity));
}
.text-blue-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--blue-600), var(--bs-text-opacity));
}
.text-blue-700 {
   --bs-text-opacity: 1;
   color: rgba(var(--blue-700), var(--bs-text-opacity));
}
.text-pink-100 {
   --bs-text-opacity: 1;
   color: rgba(var(--pink-100), var(--bs-text-opacity));
}
.text-pink-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--pink-600), var(--bs-text-opacity));
}
.text-gray-50 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-50), var(--bs-text-opacity));
}
.text-gray-200 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-200), var(--bs-text-opacity));
}
.text-gray-500 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-500), var(--bs-text-opacity));
}
.text-gray-600 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-600), var(--bs-text-opacity));
}
.text-gray-700 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-700), var(--bs-text-opacity));
}
.text-gray-900 {
   --bs-text-opacity: 1;
   color: rgba(var(--gray-900), var(--bs-text-opacity));
}

/* background-color */
.bg-red-50 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--red-50), var(--bs-bg-opacity));
}
.bg-red-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--red-100), var(--bs-bg-opacity));
}
.bg-red-500 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--red-500), var(--bs-bg-opacity));
}
.bg-red-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--red-600), var(--bs-bg-opacity));
}
.bg-red-800 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--red-800), var(--bs-bg-opacity));
}
.bg-orange-50 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-50), var(--bs-bg-opacity));
}
.bg-orange-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-100), var(--bs-bg-opacity));
}
.bg-orange-200 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-200), var(--bs-bg-opacity));
}
.bg-orange-300 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-300), var(--bs-bg-opacity));
}
.bg-orange-500 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-500), var(--bs-bg-opacity));
}
.bg-orange-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--orange-600), var(--bs-bg-opacity));
}
.bg-amber-50 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--amber-50), var(--bs-bg-opacity));
}
.bg-amber-400 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--amber-400), var(--bs-bg-opacity));
}
.bg-amber-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--amber-600), var(--bs-bg-opacity));
}
.bg-yellow-50 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--yellow-50), var(--bs-bg-opacity));
}
.bg-yellow-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--yellow-100), var(--bs-bg-opacity));
}
.bg-yellow-400 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--yellow-400), var(--bs-bg-opacity));
}
.bg-yellow-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--yellow-600), var(--bs-bg-opacity));
}
.bg-green-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--green-100), var(--bs-bg-opacity));
}
.bg-green-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--green-600), var(--bs-bg-opacity));
}
.bg-green-700 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--green-700), var(--bs-bg-opacity));
}
.bg-blue-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--blue-100), var(--bs-bg-opacity));
}
.bg-blue-500 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--blue-500), var(--bs-bg-opacity));
}
.bg-blue-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--blue-600), var(--bs-bg-opacity));
}
.bg-blue-700 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--blue-700), var(--bs-bg-opacity));
}
.bg-pink-100 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--pink-100), var(--bs-bg-opacity));
}
.bg-pink-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--pink-600), var(--bs-bg-opacity));
}
.bg-gray-50 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-50), var(--bs-bg-opacity));
}
.bg-gray-200 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-200), var(--bs-bg-opacity));
}
.bg-gray-500 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-500), var(--bs-bg-opacity));
}
.bg-gray-600 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-600), var(--bs-bg-opacity));
}
.bg-gray-700 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-700), var(--bs-bg-opacity));
}
.bg-gray-900 {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--gray-900), var(--bs-bg-opacity));
}
